
use [Station]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Patienten_Betten]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Patienten] DROP CONSTRAINT FK_Patienten_Betten
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Patienten_Diagnosen]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Patienten] DROP CONSTRAINT FK_Patienten_Diagnosen
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Betten_Zimmer]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Betten] DROP CONSTRAINT FK_Betten_Zimmer
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Betten]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Betten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Diagnosen]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Diagnosen]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[LogTable]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[LogTable]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Patienten]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Patienten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Zimmer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Zimmer]
GO

CREATE TABLE [dbo].[Betten] (
	[ID_Betten] [int] IDENTITY (1, 1) NOT NULL ,
	[Nummer] [int] NOT NULL ,
	[ID_Zimmer] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Diagnosen] (
	[ID_Diagnosen] [int] IDENTITY (1, 1) NOT NULL ,
	[Nummer] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Beschreibung] [varchar] (1000) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Tage] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[LogTable] (
	[ID_LogTable] [int] IDENTITY (1, 1) NOT NULL ,
	[Datum] [datetime] NOT NULL ,
	[Message] [varchar] (1000) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Patienten] (
	[ID_Patienten] [int] IDENTITY (1, 1) NOT NULL ,
	[Nachname] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Vorname] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Geburtsdatum] [datetime] NOT NULL ,
	[Aufnahmedatum] [datetime] NOT NULL ,
	[Entlassungsdatum] [datetime] NULL ,
	[Geschlecht] [bit] NOT NULL ,
	[Privat] [bit] NOT NULL ,
	[ID_Diagnosen] [int] NOT NULL ,
	[Diagnose] [varchar] (1000) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Entlassen] [bit] NOT NULL ,
	[ID_Betten] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Zimmer] (
	[ID_Zimmer] [int]  IDENTITY (1, 1) NOT NULL ,
	[Station] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Nummer] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Intensivbetreuung] [bit] NOT NULL ,
	[Isolation] [bit] NOT NULL ,
	[AnzahlBetten] [int] NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Betten] ADD 
	CONSTRAINT [PK_Betten] PRIMARY KEY  CLUSTERED 
	(
		[ID_Betten]
	)  ON [PRIMARY] ,
	CONSTRAINT [IX_Betten] UNIQUE  NONCLUSTERED 
	(
		[ID_Zimmer],
		[Nummer]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Diagnosen] ADD 
	CONSTRAINT [PK_Diagnosen] PRIMARY KEY  CLUSTERED 
	(
		[ID_Diagnosen]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[LogTable] ADD 
	CONSTRAINT [DF_LogTable_DAtum] DEFAULT (getdate()) FOR [Datum],
	CONSTRAINT [PK_LogTable] PRIMARY KEY  CLUSTERED 
	(
		[ID_LogTable]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Patienten] ADD 
	CONSTRAINT [DF_Patienten_Diagnose] DEFAULT ('') FOR [Diagnose],
	CONSTRAINT [DF_Patienten_Entlassen] DEFAULT (0) FOR [Entlassen],
	CONSTRAINT [PK_Patienten] PRIMARY KEY  CLUSTERED 
	(
		[ID_Patienten]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Zimmer] ADD 
	CONSTRAINT [DF_Zimmer_AnzahlBetten] DEFAULT (3) FOR [AnzahlBetten],
	CONSTRAINT [PK_Zimmer] PRIMARY KEY  CLUSTERED 
	(
		[ID_Zimmer]
	)  ON [PRIMARY] ,
	CONSTRAINT [IX_Zimmer] UNIQUE  NONCLUSTERED 
	(
		[Station],
		[Nummer]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Betten] ADD 
	CONSTRAINT [FK_Betten_Zimmer] FOREIGN KEY 
	(
		[ID_Zimmer]
	) REFERENCES [dbo].[Zimmer] (
		[ID_Zimmer]
	)
GO

ALTER TABLE [dbo].[Patienten] ADD 
	CONSTRAINT [FK_Patienten_Betten] FOREIGN KEY 
	(
		[ID_Betten]
	) REFERENCES [dbo].[Betten] (
		[ID_Betten]
	),
	CONSTRAINT [FK_Patienten_Diagnosen] FOREIGN KEY 
	(
		[ID_Diagnosen]
	) REFERENCES [dbo].[Diagnosen] (
		[ID_Diagnosen]
	)
GO

